<%- include("../partials/header") -%>

<div class="row justify-content-center h-75 w-100 mt-2">
  <div class="col-1"><%- include("../partials/sidebar") -%></div>
  <div class="col-8 d-flex justify-content-center h-100 mt-3">
    <div class="h-100 w-100" id="map"></div>
  </div>
  <div
    id="right-col"
    class="col-3 d-flex flex-column justify-content-start overflow-auto mt-3"
  >
    <div id="greeting" class="invisible">
      <p id="greeting-name" class="fs-3"></p>
      <p class="fs-6">Let's see who is nearby!</p>
    </div>
    <button
      type="button"
      class="btn btn-outline-primary rounded-pill mb-1"
      data-bs-toggle="modal"
      data-bs-target="#filter-modal"
      id="filter-button"
    >
      Filter
    </button>
    <div
      class="modal fade"
      id="filter-modal"
      tabindex="-1"
      aria-labelledby="filter-modal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="filter-modal-label">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div
      id="signin-signup-form"
      class="d-flex flex-column justify-content-between h-100"
    >
      <div class="d-grid gap-2 col-8 mx-auto">
        <p class="fs-1">Join Today</p>
        <button
          id="signup"
          class="btn btn-outline-primary text-nowrap rounded-pill"
          type="button"
        >
          Sign Up With Email
        </button>
      </div>
      <div class="d-grid gap-2 col-8 mx-auto">
        <p class="fs-6">Already have an account?</p>
        <button
          id="signin"
          class="btn btn-primary text-nowrap rounded-pill"
          type="button"
        >
          Sign In
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <script src="../../static/js/user_card.js"></script> -->
<!-- <script
  src="https://maps.googleapis.com/maps/api/js?key=<%= google_api_key%>&callback=initMap&map_ids=d91850b214eae5c9"
  async
  defer
></script> -->
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
<script
  id="map-script"
  type="module"
  src="../../static/js/index.js"
  google_api_key="<%= google_api_key%>"
  socket_host="<%= socket_host%>"
></script>
<script src="/socket.io/socket.io.js"></script>
<%- include("../partials/footer") -%>
